.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.features-list__item{
    width: 100%;

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }

         @media screen and (min-width: 1200px)
         {
            width: calc((100% - 120px) / 4);
         }
}

.features__iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    width: 100%;
    height: 120px;
    background-color: var(--background-btn-portpholio);
}



.features-list__title {
    margin-bottom: 10px;

    font-weight: 700;
    color: var(--title-color);
}

.features-list__descr {
    line-height: 1.7;
}